.brd{
    border-radius: 10px;
}
.rig{

    border-bottom-left-radius: 10px ;
    border-top-left-radius: 10px;
   
}
.btn-xl {
    padding: 10px px;
    font-size: 20px;
    border-radius: 10px;
    width: 200px;    
}